{% comment %}
  Renders a Call to Action related to customer login / account features

  Accepts:
  - heading: {String} Heading text
  - action_text_login: {String} Text describing login action
  - action_text_account: {String} Text describing go to account action
  - cta_class: {String} Adds a class to the cta element (optional)

  Usage:
  {% render 'action-customer-cta', heading: heading, action_text_login: action_text_login, action_text_account: action_text_account %}
{% endcomment %}

{{ 'action-cta.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign icon_path = 'icon-user'
-%}
<a class="cta-wrapper {%- if cta_class %} {{ cta_class }}{% endif -%}" href="/account">
  <div class="cta__icon">
    {%- if customer -%}
      <span>
        {%- render 'icon-user-initials', first: 'C', last: 'S' -%}
      </span>
    {%- else -%}
      <span>
        {%- render 'icon-user' -%}
      </span>
    {%- endif -%}

    <h3 class="cta__heading">
      {%- if customer -%}
        {{ customer.first_name }}
      {%- else -%}
        {%- if heading -%}
          {{ heading }}
        {%- else -%}
          heading
        {%- endif -%}
      {%- endif -%}
    </h3>
  </div>
  <div class="cta__action-text">
    {%- if customer -%}
      {{ action_text_login }}
    {%- else -%}
      {{ action_text_account }}
    {%- endif -%}
  </div>
</a>
