{% comment %}
  Renders a Call to Action

  Accepts:
  - icon: {String} Name of icon, only possible values = [pin, user]
  - heading: {String} Heading text
  - action_text: {String} Text describing Action
  - link_url: {String} URL destination when action_text is clicked

  Usage:
  {% render 'action-cta', icon: icon, heading: heading, action_text: action_text, link_url: link_url %}
{% endcomment %}

{{ 'action-cta.css' | asset_url | stylesheet_tag }}

<a class="cta-wrapper {%- if cta_class %} {{ cta_class }}{% endif -%}" href="{{link_url}}">
  <div class="cta__icon cta__icon--action-cta">
    <span>
      {%- case icon -%}
        {%- when 'pin' -%}
          {%- render 'icon-pin' -%}
        {%- when 'user' -%}
          {%- render 'icon-user' -%}
        {%- else -%}
          {%- render 'icon-graylogo' -%}
      {%- endcase -%}
    </span>
    <h3 class="cta__heading cta__heading--action-cta">
      {%- if heading -%}
        {{ heading }}
      {%- else -%}
        heading
      {%- endif -%}
    </h3>
  </div>
  <div class="cta__action-text">
    {%- if action_text -%}
      {{ action_text }}
    {%- else -%}
      call to action text
    {%- endif -%}
  </div>
</a>
