{{ 'collection-slider.css' | asset_url | stylesheet_tag }}

<section>
  <slider-component class="">
    <h1>
      {{ section.settings.title }}
    </h1>
    <div class="collection-slider--container">
      {%- liquid
        assign columns = 4.0
        assign padding = 25
        assign total_padding = columns | minus: 1 | times: padding
        assign relative_width = 1 | divided_by: columns
        assign page_width = settings.page_width
        assign aspect_ratio = 0.65
      -%}
      {%- style -%}
      {%- endstyle -%}

      <button
        type="button"
        class="slider-button slider-button--prev"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
        data-step="{{section.settings.step}}"
      >
        {% render 'icon-caret' %}
      </button>

      <button
        type="button"
        class="slider-button slider-button--next"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
        data-step="{{section.settings.step}}"
      >
        {% render 'icon-caret' %}
      </button>

      <ul
        class="custom-slider"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="slider__slide"
            {{ block.shopify_attributes }}
          >
            {{ forloop.index }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </slider-component>
</section>

{% schema %}
{
  "name": "Collection Slider",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Categorias para ti",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "range",
      "id": "step",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 1,
      "label": "Scroll Step"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Slider",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
