{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header-wrapper">
  <header class="header">
    <div class="header__top-nav">
      <a href="/" itemprop="url">
        <img
          src="{{ "logo.svg" | asset_url }}"
          alt="{{ shop.name }}"
          id="header__logo"
          itemprop="logo"
        >
      </a>
      <form class="search__field--wrapper" action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="field search__field">
          <input class="search__input field__input" type="search" placeholder="¿Que buscas?">
          <button class="search__button field__button" aria-label="busqueda">
            {%- render 'icon-search' -%}
          </button>
        </div>
      </form>
      <div>{% render 'action-cta', icon: 'pin', heading: 'Todas', action_text: 'Seleccionar tienda' %}</div>

      <div class="divider header__divider"></div>
      <div>{% render 'action-cta', icon: 'user', heading: 'Hola!', action_text: 'Ingresa a tu cuenta' %}</div>
      <div class="divider header__divider"></div>
      {%- render 'icon-heart' -%}
      <div class="divider header__divider"></div>
      <div>
        <a href="/cart">{%- render 'icon-cart' -%}</a>
      </div>
    </div>
    <div class="header__bottom-nav">
      <div class="header__bottom-nav__menu">
        {% for link in linklists['main-menu'].links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            [
            {%- for childlink in linklists[child_list_handle].links %}
              <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            {% endfor -%}
            ]
          {% else %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="header__bottom-nav__login">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account">account</a>
            {{ 'log out' | customer_logout_link }}
          {% else %}
            {{ 'log in ' | customer_login_link }}
            {{ 'register' | customer_register_link }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </header>
</div>
